body{
margin:0;
font-family: 'Segoe UI', sans-serif;
overflow:hidden;
background:black;
color:white;
cursor:url('https://cur.cursors-4u.net/hearts/hea-1/hea42.cur'), auto;
}

#preloader{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
z-index:999;
font-size:24px;
color:pink;
}

canvas{
position:fixed;
top:0;
left:0;
z-index:-1;
}

.container{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
}

.page{
display:none;
max-width:400px;
text-align:center;
animation: slide 1s;
}

.page.active{
display:block;
}

/* img{
width:100%;
height: 300px;
object-fit: contain;
border-radius:20px;
margin: 20px;
box-shadow:0 0 25px pink;
} */

.img1 {
    width: 320px;
    height: auto;
    object-fit: contain;
    border-radius:20px;
    margin: 20px;
    box-shadow:0 0 25px pink;
}

.img2 {
    width: 260px;
    height: auto;
    object-fit: contain;
    border-radius:20px;
    margin: 20px;
    box-shadow:0 0 25px pink;
}

.img3 {
    width: 100px;
    max-width: 400px;
    height: 450px;
    object-fit: contain;
    border-radius:20px;
    margin: 20px;
    display: block;
    box-shadow:0 0 25px pink;
}

.img4 {
    width: 300px;
    height: auto;
    object-fit: contain;
    border-radius:20px;
    margin: 20px;
    box-shadow:0 0 25px pink;
}

.img5 {
    width: 350px;
    height: auto;
    object-fit: contain;
    border-radius:20px;
    margin: 20px;
    box-shadow:0 0 25px pink;
}

button{
padding:10px 20px;
margin:10px;
border:none;
border-radius:30px;
background:pink;
color:white;
font-size:18px;
cursor:pointer;
transition:0.4s;
}

button:hover{
transform:scale(1.2);
}

.nav{
position:fixed;
bottom:20px;
width:100%;
text-align:center;
}

.typing{
font-size:30px;
color:pink;
}

.floatingEmoji{
    position: fixed;
    bottom: -40px;
    font-size: 26px;
    pointer-events: none;
    animation: floatUp linear forwards;
}

@keyframes floatUp{
    0%{
        transform: translateY(0);
        opacity: 0;
    }

    20%{
        opacity: 1;
    }

    100%{
        transform: translateY(-110vh);
        opacity: 0;
    }
}

@keyframes slide{
from{transform:translateX(100%);}
to{transform:translateX(0);}
}
